.MapPharmacy {
  box-sizing: border-box;
  border-top: 4px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  padding-top: 16px;
}

.MapPharmacy h2 {
  border-bottom: 1px solid gray;
  font-size: 30px;
  font-weight: 100;
}

.MapPharmacy dl dt {
  font-size: 100;
  text-transform: uppercase;
}

.MapPharmacy dl dd {
  font-size: 24px;
  font-weight: 100;
}